{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Create Store</h1>
    </div>
    <div class="size">
        <form method="post">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="url_prefix">URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..." aria-describedby="storeURLPrefixHelp">
                <span id="storeURLPrefixHelp" class="help-block">What characters do all item URLs from this store start with?</span>
            </div>
            <div class="form-group">
                <label for="tag_name">HTML Tag</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span" aria-describedby="tag_nameHelp">
                <span id="tag_nameHelp" class="help-block">What is the HTML tag of the item that contains the price? (Usually <code>span</code>)</span>
            </div>
            <div class="form-group">
                <label for="store_query">Search Query</label>
                <input type="text" class="form-control" id="store_query" name="store_query" placeholder='{"id":"pricenow"}' aria-describedby="store_queryHelp">
                <span id="store_queryHelp" class="help-block">What JSON query would we have to do to find the specific tag with the price? (Remember to use double quotation marks!)</span>
            </div>
            <button type="submit" class="btn btn-default">Create Store</button>
        </form>
    </div>
{% endblock %}